# Name: JAR_Plugin# Description:# Import shapelogic plug ins # a JAR file and installed in multiple ImageJ menus.# Author: Sami Badawi# Version: 1.0# Date: 2007/09/08# Requires: ImageJ 1.38# The information above may be used by a future plugin manager.# Generate the jar file using:#     jar cvfM jar_demo.jar JAR_Plugin.class JAR_Plugin.java plugins.configPlugins>shapelogic, "Segment", SBSegment_("run")Plugins>shapelogic, "Particle Counter", ParticleCounter_("run")Plugins>shapelogic, "Line Vectorizer", LineVectorizer_("run")Plugins>shapelogic, "Direction Based Vectorizer", DirectionBasedVectorizer_("run")Plugins>shapelogic, "Max Distance Vectorizer", MaxDistanceVectorizer_("run")Plugins>shapelogic, "Stream Vectorizer", StreamVectorizer_("run")Plugins>shapelogic, "Digit Match Stream Vectorizer", DigitStreamVectorizer_("run")Plugins>shapelogic, "Find color hypothesis", ColorHypothesisFinder_("run")