#banner {
  background-image: url(../images/logos/gradient.png);
  background-repeat: repeat-x;
}

#leftColumn {
width:185px;
}

#bodyColumn {
margin-left:210px;
}

h1, h2, h3, h4, h5, h6  {
color:#481977;
}

dl {
background-color:#EEE;
}
